Repository zbmowrey/carepulse: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm run format:fix

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --cache --fix", "npm run format:fix"],
  "*.{yml,yaml,md,json,html}": ["npm run format:fix"]
}

chore(packages): fix husky prepare command
  package.json
Due: npm run format:fix

fix(git): ignore eslintcache
  components/CustomFormField.tsx
  package-lock.json
  package.json
Due: eslint --cache --fix, npm run format:fix

chore(git): ignore eslintcache
  .gitignore
Due: none

ci(gha): add ci and release actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: npm run format:fix

chore(release): 1.0.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format:fix

Notes added by 'git notes add'
  f918605799af021f6c9dc94173ea3b9cd27899bb
Due: none

fix(conflict): pulled and rebased from main
  package-lock.json
  package.json
Due: npm run format:fix

Notes added by 'git notes add'
  cc02a6670803146427f226ee072ec99664f04988
Due: none

chore(release): 1.0.1 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format:fix

feat(new-patient): complete form validation for new patient registration
  components/CustomFormField.tsx
  components/SubmitButton.tsx
  components/forms/PatientForm.tsx
  lib/validation.ts
  package-lock.json
  package.json
Due: eslint --cache --fix, npm run format:fix

feat(users): enable initial user registration
  app/page.tsx
  components/CustomFormField.tsx
  components/forms/PatientForm.tsx
  components/ui/checkbox.tsx
  components/ui/select.tsx
  components/ui/textarea.tsx
  lib/actions/patient.actions.ts
  lib/appwrite.config.ts
  package-lock.json
  package.json
  types/appwrite.types.ts
  types/index.d.ts
Due: eslint --cache --fix, npm run format:fix

feat(lint): ignore changelog for lint/format purposes on commit
  .eslintcache
  .lintstagedrc.json
  .prettierignore
  package.json
Due: npm run format:fix

chore(release): 1.1.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format:fix

Notes added by 'git notes add'
  b7cb8730f9eb6ac1e0e701da1e1f4bcb618d90f6
Due: none

docs(changelog): pull latest changelog
  README.md
Due: npm run format:fix

docs(changelog): pull latest changelog
  .husky/prepare-commit-msg
Due: none

ci(npm): cache npm build artifacts for faster ci
  .github/workflows/ci.yml
Due: npm run format:fix

ci(ci): update ci action versions to avoid deprecated runtimes
  .github/workflows/ci.yml
Due: npm run format:fix

ci(cache): make use of cache for release action
  .github/workflows/release.yml
Due: npm run format:fix

feat(registration): add registration page and form personal information
  app/patients/[userId]/register/page.tsx
  components/CustomFormField.tsx
  components/forms/RegisterForm.tsx
  components/ui/input.tsx
  components/ui/radio-group.tsx
  constants/index.ts
  lib/actions/patient.actions.ts
  package-lock.json
  package.json
Due: eslint --cache --fix, npm run format:fix

Notes added by 'git notes add'
  cf3a7c185837d1615d5e90829e7a1729c01804ae
Due: none

chore(release): 1.2.0 [skip ci]
  CHANGELOG.md
  package-lock.json
  package.json
Due: npm run format:fix
